name: '[webui] deploy'
on:
  workflow_dispatch:
    inputs:
      stage_name:
        type: choice
        description: 'Stage name (default: uat)'
        options:
        - uat
        - ner

env:
  REACT_APP_MAP_TYPE : "Mapbox"
  REACT_APP_MAPBOXGL_ACCESS_TOKEN: ${{ secrets.MAPBOXGL_ACCESS_TOKEN }}
  REACT_APP_BACKEND: https://bs-cr-api.perlin.net/prod
  REACT_APP_COUNTRY_NAME: 'Bahamas'
  REACT_APP_COUNTRY_CODE: 'BS'

jobs:
  default:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Print Selected Options
        run: |
          echo "Branch: ${{ github.ref_name }}"
          echo "Stage Name: ${{ github.event.inputs.stage_name }}"

      - name: Set REACT_APP_IFRAME_BASE_URL
        run: |
          if [ "${{ github.event.inputs.stage_name }}" == "ner" ]; then
            echo "REACT_APP_IFRAME_BASE_URL=https://prod-carbon-app.mtckarn7q2.com" >> $GITHUB_ENV
          else
            echo "REACT_APP_IFRAME_BASE_URL=https://carbon-app.mtckarn7q2.com" >> $GITHUB_ENV
          fi

      - name: Cache modules
        uses: actions/cache@v4
        id: yarn-cache
        with:
          path: node_modules
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: ${{ runner.os }}-yarn-

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        working-directory: ./web
        run: CI=false yarn install

      - name: Build
        working-directory: ./web
        run: CI=false yarn build

      - name: serverless deploy
        uses: serverless/github-action@v3.1
        with:
          args: -c "cd ./web && serverless deploy --stage ${{ github.event.inputs.stage_name }}"
          entrypoint: /bin/sh
